<div class="card color-chapter">
    <div class="card-header style-chapter" style="color: white; text-transform: capitalize;">
      <%= series.name %>
    </div>
    <a href="<%= series_path(series) %>">
      <img class="img img-fluid article-img img-class-style" src="<%= series.img %>"/></a>
    <%= series_links(series) %>
</div>